NEXT_PUBLIC_SUPABASE_URL=https://chhkvnvwfjldxgyqexjc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoaGt2bnZ3ZmpsZHhneXFleGpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5ODc1NjEsImV4cCI6MjA4MDM0NzU2MX0.SQ-9N_1dKEL3G21XK50e5W9F-eUxR5BkZ617QEkVYKs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoaGt2bnZ3ZmpsZHhneXFleGpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDk4NzU2MSwiZXhwIjoyMDgwMzQ3NTYxfQ.qyMYD9ok2t6fk1tdir7x83Hh5IfF34jZBlnVeC8nqaw
